@import '../../assets/app.colors.scss';

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 60px auto;
  
    h2 {
      font-size: calc( 2rem + 1vw);
      margin: 10px 0px;
      color: $color-primary-0;
    }

    p{
      margin: 5vw 0px;
      color: $color-primary-1;
      font-weight: 500;
      font-size: .9rem;
      text-align: justify;
      max-width: 400px;
    }

  }
  

  @media only screen and (min-width: 781px) {
  
  }
  