@import '../../assets/app.colors.scss';

.content-card {
  box-sizing: border-box;
  display: grid;
  padding: 8vw 0 0 0;
  margin: 0;
  grid-template-rows: 1fr 1fr;
//   background: #ffffff;
//   background: linear-gradient(to top, #ffffff 0%, $background-color 100%);
  background-color: $background-color;

  img {
    object-fit: contain;
    width: 100%;
    clip-path: ellipse(150% 70% at 50% 30%);
  }

  .content-sectrion {
    padding: 4vw;
    margin-top: auto;
    .title {
      font-size: 3rem;
      color: $color-primary-4;
    }
    .subtitle {
      font-size: 2rem;
      color: $color-primary-0;
    }
    .content {
      color: rgb(80, 80, 80);
      font-weight: 400;
    }
  }
}

@media (min-width: 720px) {
  .content-card {
    display: flex;
    overflow: hidden;
    padding: 0;
    box-sizing:border-box;
    // background: linear-gradient(to right, #ffffff 0%, $background-color 100%);

    img {
      object-fit: contain;
      width: 55%;
      clip-path: ellipse(70% 150% at 30% 50%);
      padding: 1vw 0;
    }

    img:hover {
      object-fit: contain;
    //   transform: scale(120%);
    //   transition: transform 0.2s;
      filter: brightness(80%);
      transition: filter 0.2s; 
    }

    .content-sectrion {
      width: 45%;
      padding: 10px 30px 10px 30px;
    }
  }

  .right {
    // background: linear-gradient(to left, #ffffff 0%, $background-color 100%);
    img {
      order: 2;
      clip-path: ellipse(70% 150% at 70% 50%);
    }
  }
}
