@import '../../assets/app.colors.scss';

.content-card {
  box-sizing: border-box;
  display: grid;
  padding: 0;
  margin: 8vw 0 0 0;
  grid-template-rows: 1fr 1fr;
  background: #ffffff;
  background: linear-gradient(to top, #ffffff 0%, $background-color 100%);

  img {
    object-fit: contain;
    width: 100%;
    clip-path: ellipse(150% 70% at 50% 30%);
  }

  .content-sectrion {
    padding: 4vw;
    margin-top: auto;
    .title {
      font-size: 3rem;
      color: $color-primary-4;
    }
    .subtitle {
      font-size: 2rem;
      color: $color-primary-0;
    }
    .content {
      color: rgb(80, 80, 80);
      font-weight: 400;
    }
  }
}

@media (min-width: 720px) {
  .content-card {
    display: flex;
    margin: 0;
    background: linear-gradient(to right, #ffffff 0%, $background-color 100%);
    // display: grid;
    // grid-template-columns: 1fr 1fr;

    img {
      object-fit: contain;
      width: 56%;
      clip-path: ellipse(70% 150% at 30% 50%);
    }

    img:hover {
      object-fit: cover;
      filter: brightness(80%);
      transition: filter 0.2s; /* Animation */
    }

    .content-sectrion {
      width: 44%;
      padding: 10px 30px 10px 30px;
    }
  }

  .right {
    background: linear-gradient(to left, #ffffff 0%, $background-color 100%);
    img {
      order: 2;
      clip-path: ellipse(70% 150% at 70% 50%);
    }
  }
}
