@import '../../assets/app.colors.scss';

.product-card {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
  margin: 0;
  width: 88vw;
  margin: 5vw;
  border-radius: 5px;
  box-shadow: 0px 0px 23px 9px rgba(0, 0, 0, 0.13);
  
  .carousel-wrapper {
    width: 100%;
    img {
      border-radius: 5px 5px 0 0;
      object-fit: cover;
    }
  }

  .content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0vw 3vw 0 3vw;


    .title-group {
      .title {
        margin: 3vw 0 ;
        font-size: 1.5rem;
        color: $color-primary-4;
        line-height: 2rem;
      }
      .subtitle {
        margin: 0 0 2vw 0;
        font-size: 1.2rem;
        color: $color-primary-0;
      }
    }
    h4 {
      margin: 0;
      padding: 0;
      color: $text-dark-color;
    }
    .content {
      text-align: justify;
      color: $text-dark-color;
      font-weight: 500;
      font-size: calc(0.2rem + 3vw);
    }
  }
}
.button-arrow-carousel{
  display:none;
}

@media (min-width: 720px) {
  .button-arrow-carousel{
    display:block;
  }
  

  .product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33vw;
    padding: 0vw;
    overflow: hidden;
    user-select: none;

    .carousel-wrapper {
      width: 33vw;
      padding: 0;
      margin: 0;
      img {
        height: 33vw;
        object-fit: contain;
        padding: 0;
        border-radius: 0;;
        // margin: 1vw 0.5vw;
      }
    }

    .content-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: auto;
      width: 55%;
      padding: 10px 20px 5px 20px;

      .title-group {
        .title {
          margin: 0 0 2vw 0;
        }
      }
    
      .content {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: calc(0.4rem + 1vw);
      }
    }

    .button-arrow-carousel:hover {
      scale: 130%;
      transition: scale .1s;
    }
  }

  .right {
    .carousel-wrapper {
      img {
        order: 2;
        clip-path: ellipse(70% 150% at 70% 50%);
      }
    }
  }
}

